name: CD Workflow

on:
  push:
    branches:
      - develop
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          if [ "${GITHUB_REF}" = "refs/heads/main" ]; then
            TAG=latest
          else
            TAG=staging
          fi
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ci-study-app:$TAG .

      - name: Push Docker image
        run: |
          if [ "${GITHUB_REF}" = "refs/heads/main" ]; then
            TAG=latest
          else
            TAG=staging
          fi
          docker push ${{ secrets.DOCKER_USERNAME }}/ci-study-app:$TAG
